/*header menu styles*/
header
{
	position: fixed;
	background-color: transparent;
	color: white;
	top: 0;
	z-index: 1;
}

/*content menu styles*/
#container
{
	position: static;
	left: 0;
	right: 0;
	margin: 1.5em auto;
}

/*footer menu styles*/
footer
{
	position: fixed;
	background-color: black;
	color: white;
	font-size: 0.6em;
	bottom: 0;
	z-index: 2;
}

/*generic styles*/
header,footer,#container
{
	width: 100%;
}