body
{
    text-align: center;
    position: absolute;
    border: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

p
{
    margin: 0;
    padding: 0;
    border: 0;
}
#alb {
    font-size: 0.8em;
    font-weight: bold
}
#song {
   text-decoration: underline;
   font-size: 1.4em;
   color: cornflowerblue;
   font-style: italic
}
#org {
    font-size: 0.7em;
}
#login
 {
 background-color:#b0e0e6;
 }
 #title
 {
     color: brown;
     font-size: 1.5em;
 }
 #header{
     font-size: 0.8em;
     color: darkgrey;
 }
 #prod
 {
     font-size: 1.2em;
     color: black;
 }