/*content menu styles*/
#container
{
	color: white;
	background-color: DodgerBlue;
	box-shadow: 2px 2px 2px #2B2B2B;
	position: relative;
	top:25;
	width: 90%;
	left: 0%;
	right: 0%;
	margin: 1.5em auto;
	border-radius: 10px;
	overflow: inherit;
}